<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706433438230-c2sf4862v86p6gu9p6t1akhb8mpnfded.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706433438230-c2sf4862v86p6gu9p6t1akhb8mpnfded</string>
	<key>API_KEY</key>
	<string>AIzaSyB1kxVtdr5kKmumSruIjf1kluu7WOSwey8</string>
	<key>GCM_SENDER_ID</key>
	<string>706433438230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>p.iOS-Firebase-Auth-Flow</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-auth-flow</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-auth-flow.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706433438230:ios:87963d77fb72b03f5fdb37</string>
</dict>
</plist>